<nav>
  <div class="container-fluid">
    <div class="logo">
      <img src="../../assets/image/image 1.png">
    </div>
    <div class="frame">
      <a class="link">HOME</a>
      <a class="link">THE APP</a>
      <a class="link">REWARDS</a>
      <a class="link">ABOUT</a>
      <a class="link">SHOP</a>
      <a>TICKETS</a>
    </div>
    <div class="frame-1">
      <div class="dropdown">
        <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          English
        </button>

      </div>
      <button class="btn-1">Sign in</button>
    </div>
  </div>
</nav>
