<footer>
  <div class="container-fluid">
    <div class="logo">
      <img src="../../assets/image/image 1.png">

      <div class="download">
        <div class="google">
          <img src="../../assets/image/google-play.png">
        </div>
        <div class="apple">
          <img src="../../assets/image/app-story.png">
        </div>
      </div>
    </div>
    <div class="frame-1">
      <h6>Useful Links</h6>

      <div class="links">
        <a class="link">The App</a>
        <a class="link">Polls</a>
        <a class="link">Rewards</a>
        <a class="link">Help</a>
        <a>About</a>
      </div>
    </div>
    <div class="frame-2">
      <h6>Our Policy</h6>

      <div class="links">
        <a class="link">Privacy Policy</a>
        <a class="link">Cookies Policy</a>
        <a >Insider Trading Policy</a>
      </div>
    </div>
    <div class="frame-3">
      <h6>Social</h6>

      <div class="links">
        <a class="link">Twitter</a>
        <a class="link">Facebook</a>
        <a >Instagram</a>
      </div>
    </div>
    <div class="input">
      <h6>Newsletter</h6>

      <input type="email" placeholder="Type your email adress">
      <button class="btn"> Send</button>
    </div>
  </div>
</footer>
