<div class="container-fluid">
  <app-header></app-header>
  <section class="container-fluid_1">
    <div class="content">
      <p>Магазин ШЕРИФ <br>
        Спортивные аксессуары клуба</p>
    </div>
    <div class="content-img">
      <img src="../../assets/image/Rectangle 6.png">
    </div>
    <div class="display">
      <div class="content-2">
        <div class="title">
          <p>Несколько слов
            о нашей команде</p>
        </div>

        <div class="text">
          <p>Кто мы и что мы делаем</p>
        </div>
      </div>

      <div class="text-content">
        <div class="text">
          <p>Девиз ФК "Шериф" - UBI CONCORDIA IBI VICTORIA, что переводится как "где согласие - там победа", и полностью отражает миссию, цель клуба, а также его атмосферу.</p>
        </div>

        <div class="text">
          <p>Только там, где есть согласие между командой, техническим персоналом, администрацией и руководством клуба, можно добиваться больших побед.</p>
        </div>

        <div class="text">
          <p>Важно согласие и между болельщиками и клубом, ведь болельщики - это 12-й игрок на поле, и это не пустые слова. Лишь в единении всех составляющих заключается формула успеха.</p>
        </div>

        <div class="text">
          <p>Миссия ФК "Шериф" заключается в том, чтобы популяризировать футбол в регионе, нести его в массы, доставлять болельщикам радость своей игрой и достижениями.</p>
        </div>
      </div>
    </div>

    <div class="shop">
      <div class="column">
        <div class="shop-element">
          <img src="../../assets/image/Rectangle 16.png">
          <div class="element">
            <div class="title">
              <p>Трехцветная кепка ФК «Шериф» 90 руб</p>
            </div>

            <button class="btn-4">Добавить в корзину</button>
          </div>
        </div>

        <div class="shop-element">
          <img src="../../assets/image/Rectangle 19.png">
          <div class="element">
            <div class="title">
              <p>Трехцветная кепка ФК «Шериф» 90 руб</p>
            </div>

            <button class="btn-4">Добавить в корзину</button>
          </div>
        </div>

        <div class="shop-element">
          <img src="../../assets/image/Rectangle 20.png">
          <div class="element">
            <div class="title">
              <p>Трехцветная кепка ФК «Шериф» 90 руб</p>
            </div>

            <button class="btn-4">Добавить в корзину</button>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="shop-element">
          <img src="../../assets/image/Rectangle 17.png">
          <div class="element">
            <div class="title">
              <p>Трехцветная кепка ФК «Шериф» 90 руб</p>
            </div>

            <button class="btn-4">Добавить в корзину</button>
          </div>
        </div>

        <div class="shop-element">
          <img src="../../assets/image/Rectangle 16.png">
          <div class="element">
            <div class="title">
              <p>Трехцветная кепка ФК «Шериф» 90 руб</p>
            </div>

            <button class="btn-4">Добавить в корзину</button>
          </div>
        </div>

        <div class="shop-element">
          <img src="../../assets/image/Rectangle 18.png">
          <div class="element">
            <div class="title">
              <p>Трехцветная кепка ФК «Шериф» 90 руб</p>
            </div>

            <button class="btn-4">Добавить в корзину</button>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="shop-element">
          <img src="../../assets/image/Rectangle 19.png">
          <div class="element">
            <div class="title">
              <p>Трехцветная кепка ФК «Шериф» 90 руб</p>
            </div>

            <button class="btn-4">Добавить в корзину</button>
          </div>
        </div>

        <div class="shop-element">
          <img src="../../assets/image/Rectangle 17.png">
          <div class="element">
            <div class="title">
              <p>Трехцветная кепка ФК «Шериф» 90 руб</p>
            </div>

            <button class="btn-4">Добавить в корзину</button>
          </div>
        </div>

        <div class="shop-element">
          <img src="../../assets/image/Rectangle 20.png">
          <div class="element">
            <div class="title">
              <p>Трехцветная кепка ФК «Шериф» 90 руб</p>
            </div>

            <button class="btn-4">Добавить в корзину</button>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="shop-element">
          <img src="../../assets/image/Rectangle 17.png">
          <div class="element">
            <div class="title">
              <p>Трехцветная кепка ФК «Шериф» 90 руб</p>
            </div>

            <button class="btn-4">Добавить в корзину</button>
          </div>
        </div>

        <div class="shop-element">
          <img src="../../assets/image/Rectangle 18.png">
          <div class="element">
            <div class="title">
              <p>Трехцветная кепка ФК «Шериф» 90 руб</p>
            </div>

            <button class="btn-4">Добавить в корзину</button>
          </div>
        </div>

        <div class="shop-element">
          <img src="../../assets/image/Rectangle 19.png">
          <div class="element">
            <div class="title">
              <p>Трехцветная кепка ФК «Шериф» 90 руб</p>
            </div>

            <button class="btn-4">Добавить в корзину</button>
          </div>
        </div>
      </div>
    </div>

    <div class="deliveries">
      <div class="deliveries-text">
        <div class="title">
          <p>о доставке</p>
        </div>

        <div class="text">
          <p>Мы находимся в  г. Тирасполе. Вы можете забрать товары из точки самовывоза <b>( ул. Карла Либкнехта, 1/2, спортивный комплекс «Шериф» )</b> или заказать доставку по городу. Также доступна доставка по почте.</p>
        </div>
      </div>
    </div>

    <div class="contact">
      <div class="container-phone">
        <div class="phone">
          <p>+373 (533) 6-38-82</p>
        </div>

        <div class="mail">
          <p>shop.sheriff@gmail.com</p>
        </div>
      </div>

      <div class="text">
        <p>Вы можете связаться с нами по почте, телефону, в Instagram, Vk или Facebook</p>
      </div>

      <div class="img">
        <img src="../../assets/image/Frame 407.png">
      </div>
    </div>
  </section>
</div>
