<div class="container-fluid">
  <section class="container-fluid_1">
    <app-header></app-header>
    <div class="app-title">
      <p>How it works</p>
    </div>
  </section>
  <section class="container-fluid_2">
    <div class="section-2">
      <div class="app-text">
        <div class="title-app">
          <p>Fans are crying out to have a say in the teams they love</p>
        </div>
        <div class="text-app">
          <p>See the way it works, how you can influence your team and get rewarded! FC SHERIFF FAN TOKEN solves this.</p>
        </div>
      </div>
      <div class="elipse">
        <img src="../../assets/image/Ellipse 3.png">
        <hr>
        <img src="../../assets/image/Ellipse 3.png">
        <hr>
        <img src="../../assets/image/Ellipse 3.png">
        <hr class="hr3">
        <img src="../../assets/image/Ellipse 3.png">
      </div>
      <div class="group">
        <div class="group-1">
          <div class="group-title">
            Sign up
          </div>
          <div class="group-text">
            <p>Download the app & create an account in seconds. We just ask for your phone number & email</p>
          </div>
        </div>
        <div class="group-2">
          <div class="group-title">
            <p>Buy tokens</p>
          </div>
          <div class="group-text">
            <p>Fan Tokens can be purchased or hunted for free in our in-app game from time to time</p>
          </div>
        </div>
        <div class="group-3">
          <div class="group-title">
            <p>Vote</p>
          </div>
          <div class="group-text">
            <p>Make your decision on team matters. With binding polls, the team has an obligation to bring your choice to life</p>
          </div>
        </div>
        <div class="group-4">
          <div class="group-title">
            <p>Participate & win</p>
          </div>
          <div class="group-text">
            <p>Take part in polls & in-app games, rack up reward points and unlock VIP experiences, team merch & much more!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="image">
      <img src="../../assets/image/iphone-12-pro--graphite.png">
    </div>
  </section>
  <section class="container-fluid_3">
    <div class="groups">
      <div class="frame-title">
        <div class="title">
          <p>Why should you choose</p>
        </div>
        <div class="title-back">
          <p>FC SHERIFF Fan Tokens?</p>
        </div>
      </div>

      <div class="flex">
        <div class="group">
          <div class="group-title">
            <p>A trusted app for Sport & Crypto fans</p>
          </div>
          <div class="group-text">
            <p>Trusted not only to deliver new exciting partnerships and engaging binding polls, but also to provide a secure platform for voting. Blockchain technology is at the heart of our app, making sure that the integrity of each vote is safeguarded.</p>
          </div>
        </div>

        <div class="group" id="margin-left">
          <div class="group-title">
            <p>A trusted app for Sport & Crypto fans</p>
          </div>
          <div class="group-text">
            <p>Trusted not only to deliver new exciting partnerships and engaging binding polls, but also to provide a secure platform for voting. Blockchain technology is at the heart of our app, making sure that the integrity of each vote is safeguarded.</p>
          </div>
        </div>
      </div>

      <div class="flex" id="margin-top">
        <div class="group">
          <div class="group-title">
            <p>A trusted app for Sport & Crypto fans</p>
          </div>
          <div class="group-text">
            <p>Trusted not only to deliver new exciting partnerships and engaging binding polls, but also to provide a secure platform for voting. Blockchain technology is at the heart of our app, making sure that the integrity of each vote is safeguarded.</p>
          </div>
        </div>

        <div class="group" id="margin-left">
          <div class="group-title">
            <p>A trusted app for Sport & Crypto fans</p>
          </div>
          <div class="group-text">
            <p>Trusted not only to deliver new exciting partnerships and engaging binding polls, but also to provide a secure platform for voting. Blockchain technology is at the heart of our app, making sure that the integrity of each vote is safeguarded.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="container-fluid_4">
    <div class="section-4">
      <div class="frame-text">
        <div class="title">
          <p>Need help using
            FC SHERIFF app?</p>
        </div>
        <div class="text">
          <p>We’ve put together a no-nonsense guide packed with tips and videos on how FC SHERIFF app works</p>
        </div>
        <button class="btn-3" >Learn More</button>
      </div>
      <div class="image">
        <img src="../../assets/image/iphone-12-pro--graphite 1.png" alt="">
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</div>
