<div class="container-fluid">
  <div class="container-fluid-1">
    <app-header></app-header>
    <div class="hero_text">
      <div class="frame_title">
        <div class="title">
          <p> $FC SHERIFF </p>
        </div>

        <div class="title">
          <p>FAN<u>TOKENS</u></p>
        </div>
      </div>

      <div class="frame_text">
        <p>
          The $FC SHERIFF Fan Token will give you the power to help Les Parisiens make the right decisions, access VIP experiences, earn official products, and more.
        </p>
      </div>

      <div class="frame_buttons">
        <button class="btn-1">Learn More</button>
        <button class="btn-2"> Download Now</button>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
