<div class="container-fluid">
  <section class="container-fluid_1">
    <app-header></app-header>
    <div class="hero_text">
      <div class="frame_title">
        <div class="title">
          <p> $FC SHERIFF </p>
        </div>

        <div class="title">
          <p>FAN<u>TOKENS</u></p>
        </div>
      </div>

      <div class="frame_text">
        <p>
          The $FC SHERIFF Fan Token will give you the power to help Les Parisiens make the right decisions, access VIP experiences, earn official products, and more.
        </p>
      </div>

      <div class="frame_buttons">
        <button class="btn-1">Learn More</button>
        <button class="btn-2"> Download Now</button>
      </div>
    </div>
  </section>

  <section class="container-fluid_2">
    <div class="frame_text-2">
      <div class="title-1">
        <p>Be more than a fan</p>
      </div>

      <div class="more_text">
        <div class="text" id="margin">
          <p>Fan Tokens gives you the power to influence decisions taken at the Futbol Club FC SHERIFF in Moldova.</p>
        </div>

        <div class="text">
          <p>See some of the decisions that FC SHERIFF fans and fans from other teams influenced </p>
        </div>
      </div>
    </div>

    <div class="cards">
      <div class="row" id="row1">
        <div class="image" style=" background-image: url(../../assets/image/Rectangle\ 44.png);">
          <p>Dressing Room Mural</p>
        </div>
        <div class="image" style="background-image: url(../../assets/image/Rectangle\ 46.png);">
          <p>Matchday playlist</p>
        </div>
        <div class="image" style="background-image: url(../../assets/image/Rectangle\ 48.png);">
          <p>Captain's Armband</p>
        </div>
      </div>
      <div class="row">
        <div class="image" style="background-image: url(../../assets/image/Rectangle\ 45.png);">
          <p>Official Bus Design</p>
        </div>
        <div class="image" style="background-image: url(../../assets/image/Rectangle\ 47.png);">
          <p >Fan Message At The  Stadium</p>
        </div>
        <div class="image" style="background-image: url(../../assets/image/Rectangle\ 49.png);">
          <p>Goal Celebration Song</p>
        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid_3">
    <div class="token-content">
      <div class="token-logo">
        <img src="../../assets/image/logo.png">
      </div>
      <div class="token-text">
        <div class="token-title">
          <p>Why should I
            own $FC SHERIFF?</p>
        </div>
        <div class="frame-token">
          <div class="frame-text_logo">
            <img class="image" src="../../assets/image/Group 10.png">
            Own a share of influence of your team
          </div>
          <div class="frame-text_logo">
            <img class="image" src="../../assets/image/Group 10.png">
            Get in the driving seat and make the right decisions
          </div>
          <div class="frame-text_logo">
            <img class="image" src="../../assets/image/Group 10.png">
            Turn your dreams into reality with fantastic rewards
          </div>
          <div class="frame-text_logo">
            <img class="image" src="../../assets/image/Group 10.png">
            Join a new era of super fans
          </div>
        </div>
        <div class="button">
          <button class="btn-1">Get Started</button>
        </div>
      </div>
    </div>
  </section>
  <section class=" container-fluid_4">
    <div class="vip-text">
      <div class="title">
        Join to win <span>VIP</span> rewards
      </div>

      <div class="text-vip">
        <div class="text-1" >
          <p>Fan Tokens get you a step closer to enjoy incredible experiences.</p>
        </div>
        <div class="text-2">
          <p>Take a look at what you might miss out on!</p>
        </div>
      </div>
    </div>
    <div class="cards">
      <div class="card-1" >

      </div>
      <div class="card-2" >

      </div>
      <div class="card-3" >

      </div>
      <div class="card-4" >

      </div>
    </div>
  </section>
  <app-footer></app-footer>
</div>
