.container-fluid {
  padding: 0% 0%;

  .btn-1 {
    border: 2px solid #FFE400;
    box-sizing: border-box;
    background-color: transparent;
    color: #FFFFFF;
    padding: 15.5px 43px ;
  }

  .btn-2 {
    background-color: #FFE400;
    padding: 15.5px 32px ;
    margin-left: 10px;
  }

  p {
    padding: 0%;
    margin: 0%;
  }
}

.container-fluid_1 {
  background-image: url(../../assets/image/hero_img.png);
  background-size: cover;
  height: 1100px;

  .hero_text {
    margin-top: 360px;
    margin-left: 240px;
    width: 446px;

    .frame_title {
      position: static;
      width: 387px;
      height: 157px;

      .title {
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 76px;
        color: #FFFFFF;

        u {
          margin-left: 10px;
          text-decoration-color: #FFE400;
          text-underline-offset: 5px;
        }
      }
    }

    .frame_text {
      width: 446px;
      height: 102px;
      font-style: normal;
      font-weight: 400;
      font-size: 19px;
      line-height: 34px;
      color: #FFFFFF;
      margin-top: 15px;
    }

    .frame_buttons {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      margin-top: 60px;
    }
  }
}

.container-fluid_2 {
  width: 1440px;
  height: 790px;
  margin: 80px auto;

  .frame_text-2 {
    display: table;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 772px;
    height: 119px;

    .title-1 {
      position: static;
      width: 403px;
      height: 57px;
      left: 184.5px;
      top: 0px;
      font-style: normal;
      font-weight: 700;
      font-size: 45px;
      line-height: 57px;
      color: #3C3C3C;
    }

    .more_text {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0px;
      margin-top: 10px;

      position: static;
      width: 772px;
      height: 52px;

      .text {
        font-style: normal;
        font-weight: 400;
        font-size: 16.9px;
        line-height: 21px;
        color: #3C3C3C;
      }

      #margin {
        margin-bottom: 10px;
      }
    }
  }

  .cards {
    height: 632px;
    margin-top: 39px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    #row1 {
      margin-bottom: 26px;
    }

    .image {
      width: 460px;
      height: 301px;
      padding-top: 110px;
      margin-left: 26px ;

      p {
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 43px;
        color: #FFFFFF;
        text-align: center;
      }
    }
  }
}

.container-fluid_3 {
  background-image: url(../../assets/image/token_img.png);
  background-size: cover;
  width: 100%;
  height: 600px;
  padding: 1px 0px;

  .token-content {
    width: 906px;
    height: 434px;
    margin: 83px auto;

    .token-logo {
      width: 400.01px;
      height: 400px;
    }

    .token-text {
      width: 425px;
      float: right;
      margin-top: -415px;
      color: #FFFFFF;

      .token-title {
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 64px;
      }

      .frame-token {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        margin-top: 30px;
      }

      .frame-text_logo {
        height: 34px;
        margin-bottom: 20px;
      }
    }
    .button {
      margin-top: 30px;
    }

    .image {
      margin-right: 10px;
    }
  }
}

.container-fluid_4 {
  width: 100%;
  .vip-text {
    width: 505px;
    height: 119px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 40px;

    .title {
      font-style: normal;
      font-weight: 700;
      font-size: 45.6px;
      line-height: 57px;
      color: #3C3C3C;

      span {
        color: #FFE400;
      }
    }

    .text-vip {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0px;
      margin-top: 10px;

      .text-1  {
        position: static;
        width: 481px;
        height: 21px;
        left: 0px;
        top: 0px;
      }

      .text-2 {
        position: static;
        width: 314px;
        height: 21px;
        left: 83.5px;
        top: 31px;
        margin-top: 10px;
      }
    }
  }

  .cards {
    width: 1440px;
    height: 632px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 80px;

    .card-title {
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
      color: #FFFFFF;
      position: relative;
      left: 30px;
      top: 242px;

    }

    .card-1 {
      position: relative;
      left: 0px;
      top: 0px;
      width: 950px;
      height: 301px;
      background-image: url("../../assets/image/Rectangle\ 50.png");
    }
    .card-2 {
      position: relative;
      top: 30px;
      left: 0px;
      width: 460px;
      height: 301px;
      background-image: url("../../assets/image/Rectangle\ 51.png");
    }
    .card-3 {
      position: relative;
      top: -271px;
      left: 490px;
      width: 460px;
      height: 301px;
      background-image: url("../../assets/image/Rectangle\ 52.png");
    }

    .card-4 {
      position: relative;
      top: -903px;
      left: 980px;
      width: 460px;
      height: 632px;
      background-image: url("../../assets/image/Rectangle\ 53.png");
      .card-title {
        position: relative;
        left: 30px;
        top: 573px;
      }
    }
  }
}
