<div class="container-fluid">
  <div class="container-fluid_1">
    <app-header></app-header>
    <div class="information">
      <div class="title">
        <p>SHERIFF (TIRASPOL) - REAL MADRID (SPAIN)</p>
      </div>
        <img src="../../assets/image/Rectangle 55.png">
        <div class="info">
          <div class="title-info">
            <p>Дата и время мероприятия:</p>
            <p id="margin50px">Ворота на стадион открываются:</p>
            <p id="margin50px">Начало матча:</p>
            <p id="margin50px">Город:</p>
            <p id="margin50px">Место проведения:</p>
          </div>
          <div class="text-info">
            <p>24 ноября 2021 в 21:30</p>
            <p id="margin50px">19:00</p>
            <p id="margin50px">22:00</p>
            <p id="margin50px">Тирасполь</p>
            <p id="margin50px">Главная арена СК "Шериф"</p>
          </div>
        </div>
    </div>
    <div class="stand">
      <div class="stand-selection">
        <div class="title">
          <p>Выбор трибуны</p>
        </div>
        <div class="group-btn">
          <button class="btn">Южная трибуна (50 руб)</button>
          <button class="btn" id="btn-2">Северная трибуна (50 руб)</button>
          <button class="btn" id="btn-3">Западная трибуна (30 руб)</button>
          <button class="btn" id="btn-4">Восточная трибуна (30 руб)</button>
        </div>
      </div>
      <div class="img">
        <img src="../../assets/image/image 9.png" >
      </div>
    </div>
    <div class="seat-selection">
      <div class="title">
        <p>Выбор мест</p>
      </div>
      <img src="../../assets/image/image 10.png">
      <img class="img-2" src="../../assets/image/Frame 421.png">
    </div>
    <div class="selected-places">
      <div class="places">
        <div class="title">
          <p>Выбранные места</p>
        </div>
        <div class="column">
          <img src="../../assets/image/Group 64.png">
          <img src="../../assets/image/Group 65.png">
        </div>
        <img src="../../assets/image/Group 66.png">
      </div>

      <div class="pay-section">
        <div class="frame-pay">
          <div class="pay">
            <div class="title">
            <p>Сумма оплаты:</p>
            </div>
            <div class="price">
              <p>80 руб</p>
            </div>
          </div>
          <button class="btn">Оплатить</button>
        </div>
        <img class="image-1" src="../../assets/image/Frame 426.png" >
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>
