<div class="container-fluid">
  <app-header></app-header>
  <div class="container-fluid_1">
    <div class="tickets-content">
      <div class="title">
      <p>Билеты на ближайщие матчи</p>
      </div>
      <div class="tickets">
        <input class="img" type="image" src="../../assets/image/Group 60.png" routerLink="/ticket">
        <input class="img" type="image" src="../../assets/image/Group 61.png" routerLink="/ticket">
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
