<div class="container-fluid">
  <section class="container-fluid_1">
    <app-header></app-header>
    <div class="title">
      <p> We make fan's dreams come true</p>
    </div>
  </section>

  <section class="container-fluid_2">
    <div class="section-2">
      <div class="text">
        <p>VIP</p>
        <p class="margin"><u>Exclusive Content</u></p>
        <p class="margin">Events</p>
        <p class="margin">Collectibles</p>
        <p class="margin">Merch</p>
      </div>
      <div class="instagram-cards">
        <img src="../../assets/image/card_instagram.png">
        <img class="margin" src="../../assets/image/card_instagram 2.png">
        <img class="margin-1" src="../../assets/image/card_instagram 3.png">
        <img class="margin-2" src="../../assets/image/card_instagram 4.png">
      </div>
    </div>
  </section>

  <section class="container-fluid_3">
    <div class="section">
      <div class="content">
        <div class="title">
          <p>We believe in the <br>
            power of the community</p>
        </div>
        <div class="text">
          <p>Our goal is to create a product and service that you're satisfied with and use it every day. This is why we're constantly working on our services to make it better every day and really listen to what our users has to say.</p>
        </div>
      </div>
      <div class="img-content">
        <div class="column" id="margin-top">
          <img src="../../assets/image/Frame 53.png">
          <img class="margin-top" src="../../assets/image/Frame 250.png">
          <img class="margin-top" src="../../assets/image/Frame 251.png">
        </div>
        <div class="column">
          <img src="../../assets/image/Frame 253 1.png">
          <img class="margin-top" src="../../assets/image/Frame 252 1.png">
          <img class="margin-top" src="../../assets/image/Frame 254 1.png">
          <img class="margin-top" src="../../assets/image/Frame 255 1.png">
        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid_4">
    <div class="section-4">
      <img src="../../assets/image/YouTube Player.png">
    </div>
  </section>

  <section class="container-fluid_5">
    <div class="app-text">
      <div class="app-title">
        <p>GET FC SHERIFF
          APPLICATION</p>
      </div>
      <div class="text-app">
        <p>Join thousands of fans from around the world
          that are influencing, playing and winning on the FC SHERIFF aplicatiion</p>
      </div>
      <button class="btn-3" >Download Now</button>
    </div>
    <div class="app-img">
      <img src="../../assets/image/app_img.png">
    </div>
  </section>

  <app-footer></app-footer>
</div>
